@charset "utf-8";

@use 'var'as v;

html {
  scroll-behavior: smooth;
}

body {
  //  
  font-family: swear-display, serif;
  font-weight: 400;

}

// 全てのaタグ
a {
  text-decoration: none;
  transition: .6s;
  color: v.$point-color;
}

// ホバーアクション
.my-parts {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.my-parts::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: v.$point-color;
  transition: all .3s ease 0s;
}

.my-parts:hover {
  cursor: pointer;
}

.my-parts:hover::after {
  width: 100%;
}


// 要素中央寄せ　最大幅1200px
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*ヘッダー*/
.headerTop {
  width: 100%;
  height: auto;

  /*トップ画像全画面表示*/
  &__img {
    background-image: url(/images/top-1920-1080non.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    position: relative;
    padding-top: 10%;

    h1 {
      display: inline-block;
      font-size: 8rem;
      font-weight: normal;
      // opacity: 0;
      color: #fff;
      padding: 1rem;
      a {
        color: #fff;
      }
      @include v.sp1 {
        font-size: 5rem;
      }
      @include v.sp2 {
        opacity: 0;
      }
    }

    .indent {
      // opacity: 0;
      position: absolute;
      top: 65%;
      right: 1%;
      font-size: 8rem;
      color: #fff;
      padding: 1rem;
      @include v.sp2 {
        opacity: 0;
      }
    }
  }
}

scroll {
  // text-align: center;
  position: absolute;
  bottom: 5rem;
  right: 100%;
  //丁度よく下側に設置するのにposition+bottomプロパティを使用
  width: 2em;
  height: 2em;

  //スクロールボタンのタップorクリックを受け付けるサイズ
  span {
    width: 3em;
    height: 3em;
    position: absolute;
    //矢印がずれるためtopなどで位置調整をする
    top: 50%;
    left: 100%;
    transform: rotate(-45deg);
    border-left: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    z-index: 2;
    animation: popping-arrow 2s infinite ease-out;
    //アニメーションさせる場合の設定
    //@keyframesで設定したアニメーション名、秒数、infinite→無限繰り返し
  }
}

@keyframes popping-arrow {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  30% {
    transform: translateY(.5em) rotate(-45deg);
  }

  60% {
    transform: translateY(0) rotate(-45deg);
  }
}

.next-section {
  padding: 3em 1.5em;
  background-color: #78909C;

  h2 {
    margin-bottom: 2em;
    text-align: center;
    font-size: 24px;
    letter-spacing: .1em;
}
    &::after {
      content: '';
      display: block;
      width: 10%;
      height: 2px;
      margin-top: .5em;
      margin-left: 45%;
      background: #F5F5F5;
    }
    
  }

  

/*gnav*/
.gnav {
  text-align: center;
  background: #f5deb3;

  // flex親要素
  &__link {
    background-color: #ffe4e1;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
  }

  // flex子要素
  &__item {
    font-size: 2rem;
    color: v.$point-color;
    padding: 1vw;
  }

}

//ハンバーガーメニュー
#gnavi-link.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

#hamburger .btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#hamburger .btn-gNav span:nth-child(1) {
  top: 0;
}

#hamburger .btn-gNav span:nth-child(2) {
  top: 10px;
}

#hamburger .btn-gNav span:nth-child(3) {
  top: 20px;
}

#hamburger .btn-gNav {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
}

#gNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 20px;
  z-index: 2;
}

//閉じる
#hamburger .btn-gNav.open span:nth-child(1) {
  top: 10px;
  left: -15px;
  transform: translateY(6px) rotate(-45deg);
  width: 100%;
}

#hamburger .btn-gNav.open span:nth-child(2) {
  opacity: 0;
}

#hamburger .btn-gNav.open span:nth-child(3) {
  top: 22px;
  left: -15px;
  transform: translateY(-6px) rotate(45deg);
  width: 100%;
}

#gNav.open {
  right: 0px;
}

#gNav .gNav-menu {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .btn-gNav {
    display: none;
  }

  #gNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
  }

  #gNav .gNav-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 50px;
  }

  #gNav .gNav-menu li {
    padding-top: 15px;
  }
}

/*h2画像*/
.h2Img {
  margin: 6% 0 6% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble07.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: v.$text-shadow;

}

.h2Img__skill {
  margin: 6% 0 0 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble09-h.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: v.$text-shadow;
@include v.sp1 {
  margin: 10% auto 10% auto;
}
@include v.sp2 {
  width: 40%;
}
}

.h2Img__about {
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble08.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: v.$text-shadow;
  @include v.sp1 {
    margin: 10% auto 10% auto;
  }
  @include v.sp2 {
    margin-top: 20%;
    margin-bottom: 20%;
    width: 50%;
  }
}

.h2Img__contact {
  margin: 6% 0 6% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble08-2.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: v.$text-shadow;
  @include v.sp1 {
    margin: 10% auto 10% auto;
  }
  @include v.sp2 {
    // padding-left: 5%;
    // padding-right: 5%;
    width: 45%;
  }
}


/*h2共通*/
.head2 {
  font-size: 2.5rem;
}

.centerBox {
  text-align: center;
}

/*モックアップ*/
.workBox__list {
  display: flex;
  width: 80%;
  margin: 0 auto;

  &--item {
    width: 90%;
  }
}


.btn,
a.btn,
button.btn {
  border: 2px solid pink;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: .5rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #707070;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 4rem;
  color: #000;
  border-radius: 0;
  background: #fff;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: pink;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.moji {
  @include v.sp2 {
    position: relative;
    bottom: 150px;
  }
}



/*skill grid*/

.skillBox {
  font-size: 2rem;
  padding: 3% 0 3% 0;
}

// コーディングとかデザインとか題名
.cateBox {
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  border-bottom: 1px solid v.$point-color;
}

.skill__list {
  text-align: center;
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-rows: 3fr;
  gap: 10px;

  @include v.sp1 {
    grid-template-columns: 1fr 2fr 1fr 2fr;
  }
  @include v.sp2 {
    display: block;
  }


  &--item {

    // background-color: pink;
    img {
      width: 100%;
      margin-top: -2vw;
    
    }
    @include v.sp1 {
      padding-top: 30%;
      font-size: 2rem;
    }
    @include v.sp2 {
      padding-top: 0;
    }
  
  &--item:nth-child(24) {
    padding-bottom: 0;
  }
  }
}

.skillLevel {
  display: none;

  @include v.sp2 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
  }
}

.moji2 {
  @include v.sp2 {
    display: none;
    padding: 0;
  }
}

/*about flex*/

.about__list {
  // border: 1px solid #333;
  background-color: #ffe4e1;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  padding: 5%;

  // アイコン
  &--img {
    width: 30%;
    height: 50%;
    padding: 5% 5% 5% 0;
  }
  


  &--item {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1rem;
    text-align: left;

    @include v.sp1 {
      padding: 0 5% 0 0;
    }
  }

  &--likes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
    font-size: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;

    @include v.sp1 {
      padding-right: 5%;
      padding-bottom: 10%;
    }

    img {
      width: 30%;
      margin: 0 auto;
      @include v.sp1 {
      padding-top: 30%;
    }
  }

  }

  &--likes--1 {

    padding-left: 20%;
  }

  .aboutLike {
    width: 80%;
  }
}

.ebi {
  background: pink;
}


// 自己紹介文
.aboutBox__list--text {
  font-size: 10px;
}

.centerBox {
  padding-bottom: 5%;


  .thanks {
    font-size: 2rem;
    padding-bottom: 5%;
    @include v.sp2 {
      margin-bottom: 10%;
    }
  }
}

.cbtBox__flex {
  width: 30%;
  margin: 0 auto;

  @include v.sp1 {
    width: 50%;
  }
  @include v.sp2 {
    width: 85%;
  }

  &--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
  }

  .submitBtn {
    margin-top: 20%;
  }
}

@media screen and (max-width:1100px) {
  .cbtBox__flex {
    width: 50%;
  } 
}


input,
textarea {
  display: inline-block;
  border: 1px solid #000;
  width: 80%;

  @include v.sp1 {
    width: 70%;
  }

}

@media screen and (max-width:500px) {
  .cbtBox__flex {
    width: 80%;
  }

  .cbtBox__flex--item {
  display: block;
}
label {
  display: block;
  margin-bottom: .5rem;
}

input[type="text"],
textarea {
  width: 100%;
}
}

input[type="submit"] {
  opacity: 0;
  position: relative;
  top: 40px;
}



footer {
  background-image: url(../images/footer08-2.jpg);
  min-height: 20vh;
  background-size: cover;

  p {
    font-size: 20px;
    text-align: center;
    padding: 3%;
  }

}